html{
    overflow-y:scroll;
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

p{
    font-size: 15px;
}

h1{
    margin:1% auto 0;
}

h2{
    
}

red{
    color:red;
}

header{
	width:100%;
    height: auto;    
}

header#title{
	width:100%;
}

main{
    height:490px;
    width:100%;
}

main .brank{
    width: 100%;
    height: 100px;
}

form#frm_a {
	width: 40%;
    margin:10px auto; 
    padding:0;
}

form#frm_a fieldset {
    margin:0; 
    padding:15px;
    border:1px solid black;
    background-color:inherit;
    color:white;
    font-size:12px;
}

form#frm_a legend {
    margin:0 0 10px 0; 
    padding:2px 5px;
    color:black;
    font-weight:bold;
}

form#frm_a p {
    margin:0; 
    padding:0 0 10px 0;
    color:black;
}

form#frm_a input.txt {
    border:1px solid black;
    font-weight:bold;
    padding:1px 3px;
}

form#frm_a input.submit {
	margin:auto;
    border:3px double black;
    background-color:white;
    color:black;
    font-weight:bold;
}

main .text{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

main img{
    width:30%;
}

#tag{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

navi ul{
    list-style: none;
    margin: 10px auto 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

navi li{
    display: inline;
    width: auto;
    margin: 5px 10px;
    font-size: 17px;
    padding: 5px;
    border:solid black 2px;
}

footer{
    width: 100%;
    height:auto;
    background-color:black;
    color:white;
}